.button {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#a67a53 0%, #725438 20%, #573f2a 100%),
        linear-gradient(#725438, #573f2a),
        radial-gradient(center 50% 0%, radius 100%, rgba(166,122,83,0.9), rgba(87,63,42,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Baskerville Old Face";
	-fx-font-weight: bold;
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}