.button {
    -fx-background-color: 
        #800000,
        linear-gradient(#FF0000 0%, #800000 20%, #400000 100%),
        linear-gradient(#800000, #400000),
        radial-gradient(center 50% 0%, radius 100%, rgba(255,0,0,0.9), rgba(64,0,0,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Baskerville Old Face";
	-fx-font-weight: bold;
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}