.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {   
    -fx-background-color: #04121c;
    -fx-stroke: white;
    -fx-size:50;
    -fx-alignment: CENTER ;    
    -fx-text-alignment: center;
}
.table-view .column-header-background .label {   
    -fx-text-fill: white;
}
.table-row-cell:filled:hover {
    -fx-size:50;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;
}
.table-view:row-selection {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-fixed-cell-size: 50;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;

}

.table-view .table-column{
    -fx-text-alignment: center;
    -fx-alignment: CENTER 
}

.table-view .table-cell{
    -fx-text-fill: #04121c;
}
